Package: com.icraze.quicksearch
Name: QuickSearch
Architecture: iphoneos-arm
Description: Quickly search for something on the internet.
Maintainer: iCraze
Author: iCraze
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), libactivator
Version: 1.0-2+debug
Installed-Size: 628
