Package: com.icraze.quicksearch
Name: QuickSearch
Version: 2.0
Architecture: iphoneos-arm
Description: Click both volume buttons to quickly search for something on the internet
Maintainer: iCraze
Author: iCraze
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
